* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: -1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: 0;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*----------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

.preloader {
	/*фиксированное позиционирование*/
	position: fixed;
	/* координаты положения */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/* фоновый цвет элемента */
	background: #e0e0e0;
	/* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
	z-index: 1001;
}

.preloader__row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
	position: absolute;
	display: inline-block;
	top: 0;
	background-color: #337ab7;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
	top: auto;
	bottom: 0;
	animation-delay: -1s;
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes preloader-bounce {

	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

.loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
}

.loaded .preloader {
	display: none;
}


body {
	font-family: 'Lora', serif;
	color: white;
}

a {
	color: white;
}

.main {
	background-image: url(../img/back.jpg);
	height: 100%;
	min-height: 700px;
	background-size: cover;
}

.nav {
	padding: 50px 0 0 140px;
}

.logo {
	display: inline;
}

.main__logo {
	margin-top: -70px;
	display: inline-block;
	width: 15%;
	height: 15%;
}

.list {
	font-size: 17px;
	display: inline-block;
	letter-spacing: 0.10em;
}

.nav__list {
	display: inline-block;
	margin: 0 25px;
}

.nav__list {
	color: rgb(1, 173, 1);
}

.nav__list {
	position: relative;
	color: #ffffff;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
}

.nav__list::after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #ffffff;
	content: "";
	transition: width 0.3s ease-out;
}

.nav__list:hover:after,
.nav__list:focus:after {
	width: 100%;
}

.nav__menu {
	display: inline-block
}

.content {
	margin-top: 100px;
}

.title {
	font-size: 25px;
	text-align: center;
	margin-bottom: 30px;

}

.live {
	margin: 30px 50px 100px 50px;
	padding-bottom: 40px;
}